.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
}

a {
  text-decoration: none;
  color: gray;
}

.estra-img {
  width: 180px;
  height: 45px;
  display: flex;
}

.header-nav {
  text-decoration: none;
  font-size: 15px;
}

.header-nav-list {
  display: flex;
}

ul {
  list-style: none;
  margin: 0;
  display: flex;
}

li {
  margin: 0 0 0 28px;
  font-size: 20px;
}

.contents-top {
  position: relative;
  height: 600px;
}

.contents-top-img {
  width: 60%;
  height: 110%;
  margin: 0 0 0 auto;
  display: block;
}

.top-title {
  position: absolute;
  top: 20%;
  left: 20%;
  font-size: 80px;
  line-height: 100px;
  color: mediumvioletred;
  font-family: "Indie Flower", cursive;
}

.top-title-span {
  color: turquoise;
}

.sub-title {
  position: absolute;
  top: 70%;
  left: 20%;
  font-size: 28px;
  color: mediumvioletred;
}

.sub-title-span {
  color: turquoise;
}

.sub-sub-title {
  position: absolute;
  top: 78%;
  left: 20%;
  font-size: 20px;
  color: gray;
  line-height: 30px;
  font-weight: lighter;
}

.contents-news {
  width: 100%;
  height: 550px;
  color: gray;
  margin-top: 150px;
  position: relative;
}

.news {
}

.contents-news-title {
  position: relative;
  left: 25%;
}

.tag-contents-news {
  color: mediumvioletred;
  font-family: "Indie Flower", cursive;
  margin-bottom: 10px;
  font-size: 20px;
}

.new-imformation {
  font-size: 28px;
}

table,
td,
th {
  border-bottom: 0.5px solid gray;
}

td {
  margin-right: 20px;
  font-size: 19px;
  line-height: 70px;
}

table {
  margin-top: 15px;
  position: relative;
  left: 25%;
}

.space {
  margin-right: 30px;
}

.space-a {
  margin-right: 230px;
}

.border-top {
  position: relative;
  margin-top: 50px;
  border: 1px solid gray;
  width: 875px;
  left: 25%;
}

.border-bottom {
  position: relative;
  margin-top: 50px;
  border: 1px solid gray;
  width: 875px;
  left: 25%;
}
